@import "fonts";
@import "global";

:root {
  --header-height: 58px;
  --weekday-height: 20px;

  --primary: #1a73e8;
  --on-primary: #1967d2;
}

//Event palette
:root {
  --event-bg-primary: #039be5;
  --event-bg-hover: #018bce;

  --task-bg-primary: #4285f4;
  --task-bg-hover: #316ac7;

  --reminder-bg-primary: #3f51b5;
  --reminder-bg-hover: #35459f;

  --holiday-bg-primary: #0b8043;
  --holiday-bg-hover: #0a733b;
}

// Default scheme
:root {
  --bg-primary: #fff;
  --bg-secondary: #f3f3f3;

  --tx-primary: #000;
  --tx-secondary: #747474;
  --tx-middle: #3c4043;

  --icon-primary: #b3b3b3;
  --icon-hover: #747474;

  --hairline: #dadce0;
}

// Dark scheme
:root.dark {
  --bg-primary: #202124;
  --bg-secondary: #282828;

  --tx-primary: #bdc1c6;
  --tx-secondary: #747474;
  --tx-middle: #bdbdbd;

  --icon-primary: #747474;
  --icon-hover: #b0b0b0;

  --hairline: #3c4043;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  line-height: 24px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-primary);
  background-color: var(--bg-primary);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

#app {
  min-height: 100vh;
}
